---
layout: default
---

<div class="home-splash">
  <div class="home-splash__svg-wrapper">
    {% include svg/final-window.svg %}
  </div>

  <h1 class="home-splash__title font-jumbo-title">
    Fall 2017
    <br>
    Mobile Design
  </h1>
</div>

<div class="content-band content-band--white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center block">
        <div class="font-title">
          Hello and welcome to Web Advanced: Mobile Design
        </div>
      </div>
      <div class="col-sm-6 text-center block">
        <p class="font-small-title">
          Date &amp; Time
        </p>
        Tuesday nights
        <br>
        7:00 to 9:30
        <br>
        2 West 13th, Rm. 801 
        <br>
        Parsons, the New School<br>for Design
      </div>
      <div class="col-sm-6 text-center block">
        <p class="font-small-title">
          Instructor
        </p>
        This class is taught
        <br>
        by Nika Simovich.<br>
        Email her at:
        <br>
        <a href="mailto:simovicn@newschool.edu">simovicn@newschool.edu</a>
      </div>
      <div class="col-sm-12 text-center block">
        <a class="button" href="https://docs.google.com/document/d/1V7504N3Vpyv_-5vdzhIp39zikoc0iJ6mCHj3sZfLlE8/edit?ts=59a4d11e" target="_blank">Syllabus</a>
      </div>
    </div>
  </div>
</div>
