.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }

.va-top    { vertical-align: top; }
.va-middle { vertical-align: middle; }
.va-bottom { vertical-align: bottom; }
.va-baseline { vertical-align: baseline; }

.highlight { color: $highlight-color; }

.margin-bottom-medium  { margin-bottom: 40px; }
.margin-top-medium     { margin-bottom: 40px; }
.padding-bottom-medium { padding-bottom: 40px; }
.padding-top-medium    { padding-bottom: 40px; }
